
initialize() {

	if (exists("slimgui")){
		defineConstant("N", 10000);  // pop size

		defineConstant("L", 1e5);    // total chromosome length
		defineConstant("G", 1e4);   // gene length
		defineConstant("rho", 1.25e-8);
		defineConstant("mu", 1.25e-8);

		defineConstant("outPref", "test2");
	}
	
	defineConstant("last", 4*N);  // end gen
	
	initializeTreeSeq();
	initializeMutationRate(mu);
	initializeRecombinationRate(rho, L-1);
	// initializeMutationType("m1", 0.5, "f", s);
	initializeMutationType("m2", 0.25, "g", -0.03, 0.2);
	initializeGenomicElementType("g2", m2, 1.0);
	initializeGenomicElement(g2, asInteger(L/2-G/2), asInteger(L/2+G/2));
}
1 {
	sim.addSubpop("p1", N);
	sim.rescheduleScriptBlock(s3, last, last);
}

s3 4 late() {
	sim.treeSeqOutput(paste(c(outPref, ".trees"), sep=""));
}
