// Keywords: tree-sequence recording, tree sequence recording

initialize() {

	if (exists("slimgui")){
		defineConstant("N", 10000);  // pop size

		defineConstant("L", 3e5);    // total chromosome length
		defineConstant("G", 1e4);   // gene length
		defineConstant("rho", 2e-8);
		defineConstant("mu", 2e-8);	
		
		defineConstant("outPref", "test");
	}
	
	// mu = runif(1, mu_min, mu_max);
	// rho = runif(1, 0, rho_max);
	// cat(c("%%", outPref, mu, rho, "\n"), sep="\t");
	
	initializeTreeSeq();
	initializeMutationRate(mu);
	initializeRecombinationRate(rho, L-1);
	
	initializeMutationType("m2", 0.25, "g", -0.03, 0.2);
	initializeGenomicElementType("g2", m2, 1.0);
	initializeGenomicElement(g2, asInteger(L/2-G/2), asInteger(L/2+G/2));
}
1 {
	sim.addSubpop("p1", N);
	sim.rescheduleScriptBlock(s1, 4*N, 4*N);
}
s1 10 late() {
	sim.treeSeqOutput(paste(c(outPref, ".trees"), sep=""));
}
