// Keywords: tree-sequence recording, tree sequence recording

initialize() {

	if (exists("slimgui")){
		defineConstant("N", 10000);  // pop size

		defineConstant("L", 3e5);    // total chromosome length
		defineConstant("G", 1e4);   // gene length
		defineConstant("rho", 2e-8);
		defineConstant("mu", 2e-8);	
		
		defineConstant("outPref", "test");
	}
	
	// mu = runif(1, mu_min, mu_max);
	// rho = runif(1, 0, rho_max);
	// cat(c("%%", outPref, mu, rho, "\n"), sep="\t");
	
	initializeTreeSeq();
	initializeMutationRate(0);
	initializeRecombinationRate(rho, L-1);
	
	initializeMutationType("m1", 0.5, "f", 0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, L-1);
}
1 {
	sim.addSubpop("p1", N);
	sim.rescheduleScriptBlock(s1, 4*N, 4*N);
}
s1 10 late() {
	sim.treeSeqOutput(paste(c(outPref, ".trees"), sep=""));
}
